<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.by.dao.MatchingMapper" >
  <resultMap id="WxUser" type="com.by.bean.WxUser" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="openid" property="openid" jdbcType="VARCHAR" />
      <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
      <result column="nickname" property="nickname" jdbcType="VARCHAR" />
      <result column="sex" property="sex" jdbcType="SMALLINT" />
      <result column="country" property="country" jdbcType="VARCHAR" />
      <result column="province" property="province" jdbcType="VARCHAR" />
      <result column="city" property="city" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="BIGINT" />
      <result column="latest_login_time" property="latestLoginTime" jdbcType="BIGINT" />
      <result column="user_id" property="userId" jdbcType="BIGINT" />
      <result column="active_status" property="activeStatus" jdbcType="INTEGER" />
      <result column="status" property="status" jdbcType="INTEGER" />
      <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
      <result column="is_ready" property="isReady" jdbcType="SMALLINT" />
      <result column="matching_user_id" property="matchingUserId" jdbcType="BIGINT" />
  </resultMap>
    <sql id="Base_Column_List" >
        id, openid, head_url, nickname, sex, country, province, city, create_time, latest_login_time,
        user_id, active_status, status, modify_time, is_ready, matching_user_id, should_init_time
    </sql>

  <select id="selectMatchedUsersByOpenid" resultMap="WxUser" parameterType="com.by.po.MatchingStandard" >
    select
     a.id, a.openid, a.head_url, a.nickname, a.sex, a.country, a.province, a.city, a.create_time, a.latest_login_time,
    a.user_id, a.active_status, a.status, a.modify_time, a.is_ready, a.matching_user_id, a.should_init_time
    from wx_users a
    left JOIN users b
    on a.user_id = b.id
    WHERE
    a.is_ready = 1
    AND
    b.sex = #{sex,jdbcType=SMALLINT}
    AND
    a.openid != #{openid,jdbcType=VARCHAR}
    AND
    a.matching_user_id = 0
  </select>

    <select id="selectMatchTimeOutUsers" resultType="java.lang.Long" parameterType="java.lang.Long">
        select a.id from wx_users a
        WHERE
        a.should_init_time &lt;= #{systemTime,jdbcType=BIGINT}
        AND
        a.is_ready = 1
    </select>

    <update id="updateMatchStatus">
        update wx_users
        set
        is_ready = 0,
        matching_user_id = 0,
        should_init_time = 9546273556975
        WHERE id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectMatchReadyMaleUsers" resultType="com.by.bean.WxUser">
        select
         a.id, a.openid, a.head_url, a.nickname, a.sex, a.country, a.province, a.city, a.create_time, a.latest_login_time,
    a.user_id, a.active_status, a.status, a.modify_time, a.is_ready, a.matching_user_id, a.should_init_time
        from wx_users a
        left JOIN users b
        on a.user_id = b.id
        WHERE
        a.is_ready = 1
        AND
        a.matching_user_id = 0
        AND
        b.sex = 0
    </select>

    <select id="selectMatchReadyFemaleUsers" resultType="com.by.bean.WxUser">
        select
         a.id, a.openid, a.head_url, a.nickname, a.sex, a.country, a.province, a.city, a.create_time, a.latest_login_time,
    a.user_id, a.active_status, a.status, a.modify_time, a.is_ready, a.matching_user_id, a.should_init_time
        from wx_users a
        left JOIN users b
        on a.user_id = b.id
        WHERE
        a.is_ready = 1
        AND
        a.matching_user_id = 0
        AND
        b.sex = 1
    </select>
</mapper>